@import './reset.scss';
@import './helpers';

.header {
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header__container {
    @extend .container;
    @extend .flex;
    @extend .h-between;
    @extend .v-center;
}

.logo {
    font-size: 26px;
    font-weight: bolder;
}

.nav-box {
    @extend .flex;
}

.menu {
    @extend .flex;
    list-style: none;
    margin-right: 25px;

    &__link {
        padding: 10px 25px;
        display: inline-block;
        color: darkgrey;
        border-radius: 3px;
        text-decoration: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            transition: background-color 0.3s;
        }
    }

    &__link.active {
        color: black;
    }
}

.cellphone {
    color: black;
    text-decoration: none;
    font-weight: bold;
}