* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100px;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 630px;
}

.header {
    width: 100%;
    position: fixed;
    top: 0px;
}

.logodh img {
    width: 200px;
    height: auto;
    position: absolute;
    left: 90px;
    top: 4px;
}

.menu {
    background-color: #ffffff;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: rgb(228, 228, 228) 0.1em 0.1em 0.3em;
    font-weight: 500;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 20px 10px;
    text-decoration: none;
}

.trab {
    padding: 50px 50px;
}

.lorem {
    width: 100%;
    padding: 30px;
    background-color: #eff0f1;
    height: 1200px;
}

.lorem h1 {
    margin-bottom: 30px;
}

.product1 {
    display: block;
    width: 300px;
    height: 400px;
    padding: 100px;
    background-color: #33383C;
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-left: 100px;
}

.product2 {
    display: block;
    width: 300px;
    height: 400px;
    padding: 50px;
    background-color: #33383C;
    color: white;
    text-align: center;
    margin-bottom: 200px;
    margin-left: 550px;
}

.product3 {
    display: block;
    width: 300px;
    height: 400px;
    padding: 50px;
    background-color: #33383C;
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-left: 1000px;
}